@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  /*
        Palette
    */

  /* blue */
  --light-blue: #98ccf9;
  --dark-blue: #00abfe;
  --light-blue-grad: linear-gradient(var(--light-blue), #bdecf4);
  --dark-blue-grad: linear-gradient(#3b7dff, var(--dark-blue));

  /* cyan */
  --light-cyan: #b6e2d2;
  --dark-cyan: #2cd9cb;
  --light-cyan-grad: linear-gradient(180deg, #92c3eb 0%, #b6e2d2 100%);

  /* --light-cyan-grad: linear-gradient( #92C3EB, var(--light-cyan)); */
  --dark-cyan-grad: linear-gradient(#33d9eb, var(--dark-cyan));

  /* green */
  --light-green: #a4dca1;
  --dark-green: #21c879;
  --light-green-grad: linear-gradient(var(--light-green), #d1edac);
  --dark-green-grad: linear-gradient(var(--dark-green), #3bc791);

  /* purple */
  --light-purple: #8598eb;
  --dark-purple: #a952ed;
  --light-purple-grad: linear-gradient(var(--light-purple), #a5c8ff);
  --dark-purple-grad: linear-gradient(var(--dark-purple), #d65ff2);

  /* red */
  --light-red: #ec98bc;
  --dark-red: #ff4b8b;
  --light-red-grad: linear-gradient(var(--light-red), #f7bac5);
  --dark-red-grad: linear-gradient(var(--dark-red), #ff4972);

  /* orange */
  --light-orange: #ff8f58;
  --dark-orange: #ff7f37;
  --light-orange-grad: linear-gradient(var(--light-orange), #ffc97c);
  --dark-orange-grad: linear-gradient(#ff5c63, var(--dark-orange));

  /* misc colors */
  --light-gray: #707fa6;
  --light-gray-grad: linear-gradient(#616892, var(--light-gray));
  --orange-gradient: linear-gradient(var(--light-orange), #ffc97c);
  --pink-grad: linear-gradient(to right, #ff6e5d, #b84cb7);

  /* typography */

  --serif: "Bitter", serif;
  --mono: "Fira Code", monospace;
  --sans: "Exo 2", sans-serif;

  /* Constants  */
  --border: 4px solid var(--dark-blue);
  --radius: 10px;
  --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --heavy-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --light-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --gray: rgba(119, 136, 153, 0.2);
  --bg: white;

  /* Variables */
  --text-color: slategrey;
  --header-bg: var(--light-gray-grad);
}

[data-theme="dark"] {
  --bg: #161925;
  --text-color: white;
  --header-bg: white;
}

body {
  margin: 0;
  background: var(--bg);
  overflow-x: hidden;
}

* {
  color: var(--text-color);
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

hr {
  border: 1px solid var(--gray);
}

p {
  font-family: var(--mono);
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: var(--header-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

blockquote {
  font-family: var(--serif);
  font-style: italic;
  border-left: solid;
  border-left-color: var(--dark-blue);
  padding-left: 1rem;
  color: var(--text-color);
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

code,
pre {
  font-family: var(--mono);
  text-shadow: 0 1px white;
  white-space: pre;
  line-height: 1.5;
  hyphens: none;
  color: var(--text-color);
  font-size: 90%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding: 1rem;
}

tr:nth-child(even) {
  background: var(--gray);
}

/* ---- INPUTS ---- */

input {
  outline: none;
  border-radius: var(--radius);
  padding: 1rem;
}

/* text */
input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"] {
  background: transparent;
  border: none;
  box-shadow: var(--heavy-shadow);
  transition: var(--transition);
  -webkit-appearance: none;
  padding: 1rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="number"]:focus {
  box-shadow: var(--light-shadow);
}

/* Remove arrows from number input */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* buttons */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: var(--border);
  background: var(--pink-grad);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  cursor: pointer;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  box-shadow: var(--heavy-shadow);
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  box-shadow: none;
}

input[type="file"] {
  padding: 1rem 0;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  border: var(--border);
  border-radius: var(--radius);
  padding: 1rem;
  background: var(--pink-grad);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-right: 1rem;
}

input[type="file"]::-webkit-file-upload-button {
  border: var(--border);
  border-radius: var(--radius);
  padding: 1rem;
  background: var(--pink-grad);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--sans);
  margin-right: 1rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  outline: none;
}

input[type="file"]::-webkit-file-upload-button:hover {
  box-shadow: var(--heavy-shadow);
}

input[type="file"]::file-selector-button:hover {
  box-shadow: var(--heavy-shadow);
}

input[type="file"]::-webkit-file-upload-button:focus {
  box-shadow: none;
}

input[type="file"]::file-selector-button:focus {
  box-shadow: none;
}

/* Ranges */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: var(--dark-blue);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--dark-blue);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

input[type="range"]::-moz-range-thumb {
  border: var(--border);
  border-radius: var(--radius);
  background-image: var(--pink-grad);
  width: 1rem;
  height: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--border);
  border-radius: var(--radius);
  background: var(--pink-grad);
  width: 1.2rem;
  height: 2rem;
  margin-top: -0.75rem;
}

input[type="range"]:focus::-moz-range-track {
  background: var(--dark-blue-grad);
  box-shadow: var(--heavy-shadow);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--dark-blue-grad);
  box-shadow: var(--heavy-shadow);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: var(--heavy-shadow);
  outline: none;
  border: none;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  background: transparent;
  border-radius: var(--radius);
}
